div.row(ng-if="clan")
  div.col-md-12
    img.pull-left(src="http://zero-k.info/img/clans/{{ clan.name }}.png")
    h2.clan-name.pull-left &nbsp; {{ clan.friendly_name }}
     span.small &nbsp;&mdash;&nbsp;{{ clan.score | number : 3 }}

div.row(ng-if="clans")
  div(ui-grid="{ data: clans, columnDefs: columnDefs }")