div.row(ng-if="unit")
  div.col-xs-12
    img.pull-left(ng-src="http://zero-k.info/img/avatars/{{ unit.image }}")
    h2.unit-name(style="overflow: hidden") &nbsp; {{ unit.friendly_name }}
     span.small &nbsp;&mdash;&nbsp;{{ unit.unitDef.description }}

  div.col-md-12
    div.row
      div.col-md-6
        p {{ unit.unitDef.customparams.helptext}}
      //- div.col-md-6
      //-   div(ui-grid='{data: weaponSummary, rowHeight: 60}' style='height: 300px;')
      div.col-md-6
        div.row
          div.col-xs-6(ng-repeat='weapon in weaponSummary')
            div.row
              div.col-md-12
                div.well.well-sm
                  h4
                    | {{ weapon.name }}
                    span(ng-if='weapon.mult > 1') &nbsp;&times;&nbsp;{{ weapon.mult }}

                  div.row
                    div.col-xs-6 Damage
                    div.col-xs-6 {{ weapon.damage }}
                    div.col-xs-6 Reload Time
                    div.col-xs-6 {{ weapon.reloadtime }}
                    div.col-xs-6 DPS
                    div.col-xs-6 {{ weapon.dps | number : 2 }}
                    div.col-xs-6 Range
                    div.col-xs-6 {{ weapon.range }}

  div.col-md-4
    h3 Current Unit Def
    div.well.unit-def.unit-def-delta
      json-formatter(json="unit.unitDef" open=1)

  div.col-md-8(ng-if="unit.balanceChanges && unit.balanceChanges.length > 0")
    h3 Changelog ({{ countChanges() }})
    form
      div.checkbox
        label
          input(type="checkbox" ng-model="changes.showAll")
          span Show All
    div.row(ng-repeat="balanceChange in unit.balanceChanges | filter : showChange | orderBy : 'commit.date' : true")
      div.col-xs-12
        div.well
          h5.commit-message.no-wrap(ng-click="toggle($event)") {{ balanceChange.commit.message }}
          div.small
            span.text-bold {{ balanceChange.author }}
            | &nbsp;&mdash;&nbsp;
            span.date {{ balanceChange.commit.date | date }}

      div.col-xs-12
      div.col-xs-6.unit-def.unit-def-delta
        div.panel.panel-default
          div.panel-heading Before
          div.panel-body
           json-formatter(json="filterOriginalUnitDefValues(null, balanceChange.commit.sha, unit.name, balanceChange.unitDefDelta, balanceChange.beforeUnitDef)" open=4)
      div.col-xs-6.unit-def.unit-def-delta
        div.panel.panel-default
          div.panel-heading After
          div.panel-body
            json-formatter(json="balanceChange.unitDefDelta" open=4)
      div.row
        div.col-xs-12
          hr
